<footer class="border-1 border-top border-default pt-4 pb-2 d-none">
    <div class="row container-fluid">
        <div class="col d-flex">
            <a href="#" class="nav-item text-dark fw-normal pe-3">Home</a>
            <a href="#" class="nav-item text-dark fw-normal pe-3">Contacts</a>
            <a href="#" class="nav-item text-dark fw-normal pe-3">Businesses</a>
            <a href="#" class="nav-item text-dark fw-normal pe-3">Login</a>
        </div>
        <div class="col-sm-3 col-12 text-end">
            <a href="" class="">James Muriithi</a>
        </div>
    </div>
</footer>