{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

<section id="projects" class="container-fluid py-5 px-lg-5">
    <div class="pt-5">
        <p><b>Important contacts</b> from your neighbourhood</p>
        <div class="projects row">
            {% if contacts %}
            {% for contact in contacts %}
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-3">
                {% include 'partials/contact-card.html' %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}