{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<style>
    @media screen and (min-width: 1200px) {
        .post-image {
            height: 500px !important;
        }
    }

    @media screen and (min-width: 778px) and (max-width: 1200px) {
        .post-image {
            height: 400px !important;
        }
    }

    @media screen and (max-width: 778px) {
        .post-image {
            height: 400px !important;
        }
    }
</style>
<section class="py-5">
    <div class="row justify-content-center container mx-auto pt-5 px-2 px-md-auto">
        <div class="col-md-12 pt-3">
            <div class="post-image">
                <img src="{{business.business_image}}" alt="" class="h-100 img-fluid w-100">
            </div>
            <div class="bg-white pb-4">
                <div class="px-2">
                    <div class="pt-4">
                        <p class="text-muted">{{business.location}}</p>
                    </div>
                    <h5 class="fw-bold pt-1">
                        {{business.name}}
                    </h5>
                    <p class="text-muted mb-1 text-sm">
                        Owned by <span class="fw-bold text-primary">{{business.user.full_name}}</span> .
                        <span class="ps-2">{{business.created_at|date}}</span>
                    </p>
                    <div class="description pt-2">
                        <p class="text-muted text-start">
                            {{business.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}